Silicon Labs/MCU - SiLabs EFM32/Gecko Starter Kit - EFM32-G8XX-STK/efm32-stk-documentation/src/efm32-stk-documentation.zip
Silicon Labs/MCU - SiLabs EFM32/IDE/precision32-development-environment-offline.exe
Silicon Labs/MCU - SiLabs EFM32/SDK/Gecko_SDK.zip
Qualcomm/Snapdragon/ 410/board/ -/ 410c/fw/debian/db410c_sd_install_debian.img
Qualcomm/Snapdragon/ 410/board/ -/ 410c/fw/debian/dragonboard410c_sdcard_install_debian-110.zip
Docs/Opens/Atmel/ATTINY/Arduino/arduino-1.6.9-windows.exe
Docs/Opens/Atmel/UC3/Getting/ Started/Installs/AVR/ Software/ Framework/ (ASF)/asf-standalone-archive-3.32.0.48.zip
Silicon Labs/MCU - SiLabs EFM32/IDE/precision32-development-environment-offline.exe
Silicon Labs/MCU - SiLabs EFM32/SDK/Gecko_SDK.zip