Silicon Labs/MCU - SiLabs EFM32/Gecko Starter Kit - EFM32-G8XX-STK/efm32-stk-documentation/src/efm32-stk-documentation.zip
Silicon Labs/MCU - SiLabs EFM32/IDE/precision32-development-environment-offline.exe
Silicon Labs/MCU - SiLabs EFM32/SDK/Gecko_SDK.zip
